doctype html
html
  head
    title Embedza demo

    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')

    script(src='https://cdn.polyfill.io/v2/polyfill.js?features=default-3.6')

    script(src='https://code.jquery.com/jquery-3.1.1.min.js')

    script(src='https://cdn.jsdelivr.net/bootstrap/3.3.5/js/bootstrap.min.js')
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/bootstrap/3.3.5/css/bootstrap.css')

    link(rel='stylesheet' href='index.css')

    script(src='player.js')

    style.
      @media (min-width: 768px) {
        .container { max-width: 730px; }
      }
      .tab-content { margin-top: 15px; }
      body {
        padding-bottom: 20px;
        overflow: scroll;
      }

  body
    .container
      h2 Embedza Demo

      p
        | Convert links to known providers into embeddable html content
        | (block or inline style). See docs how to add more domains.

      br

      form(method='get')
        .form-group
          .input-group
            input.form-control(
              type='text'
              placeholder='URL to embed'
              name='url'
              value=url
            )
            span.input-group-btn
              button.btn.btn-primary(type='submit') Submit

      if err
        .alert.alert-danger(role='alert')!=err

      if json
        ul.nav.nav-tabs
          li(role='presentation').active
            a(href='#tab-block' role='role' data-toggle='tab') Block
          li(role='presentation')
            a(href='#tab-inline' role='role' data-toggle='tab') Inline
          li(role='presentation')
            a(href='#tab-json' role='role' data-toggle='tab') JSON
          li.pull-right(role='presentation')
            a(href='#tab-providers' role='role' data-toggle='tab') Providers
        .tab-content
          #tab-block.tab-pane.active(role='tabpanel')!= block
          #tab-inline.tab-pane(role='tabpanel')!= inline
          #tab-json.tab-pane(role='tabpanel')
            pre!= json
          #tab-providers.tab-pane(role='tabpanel')!= providers.join('<br>')
