doctype html
html
  head
    title Embedza demo

    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')

    script(src='https://cdn.polyfill.io/v2/polyfill.js?features=default-3.6')
    script(src='https://code.jquery.com/jquery-3.1.1.min.js')
    script(src='https://cdn.jsdelivr.net/bootstrap/3.3.5/js/bootstrap.min.js')

    link(rel='stylesheet' href='https://cdn.jsdelivr.net/bootstrap/3.3.5/css/bootstrap.css')
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/fontawesome/4.7.0/css/font-awesome.min.css')

    link(rel='stylesheet' href='index.css')
    script(src='player.js')

    style.
      @media (min-width: 768px) {
        .container { max-width: 730px; }
      }
      body {
        padding-bottom: 20px;
        overflow: scroll;
      }
      .url-form {
        margin-top: 1em;
        margin-bottom: 2em;
      }
      .samples {
        font-size: 13px;
        margin-top: .5em;
      }
      .quicklink {
        display: block;
        color: #999;
      }
      .tab-content { margin-top: 15px; }

  body
    .container
      h2
        | Embedza Demo
        a.fa.fa-github.pull-right(
          href='https://github.com/nodeca/embedza'
          target='_blank'
          style='color:inherit;text-decoration:none;')

      p
        | Convert links to known providers into embeddable html content
        | (block or inline style). See docs how to add more domains.

      br

      form.url-form(method='get')
        .form-group
          .input-group
            input#url-input.form-control(
              type='text'
              placeholder='https://www.youtube.com/watch?v=o0u4M6vppCI'
              name='url'
              value=url
            )
            span.input-group-btn
              button.btn.btn-primary(type='submit') Submit
          .samples
            a.quicklink(
              href='https://vimeo.com/channels/staffpicks/135373919'
              title='Click to see result'
            ) https://vimeo.com/channels/staffpicks/135373919
            a.quicklink(
              href='https://www.youtube.com/watch?v=AqHZJe6306k'
              title='Click to see result'
            ) https://www.youtube.com/watch?v=AqHZJe6306k

      if err
        .alert.alert-danger(role='alert')!=err

      ul.nav.nav-tabs
        li(role='presentation').active
          a(href='#tab-block' role='role' data-toggle='tab') Block
        li(role='presentation')
          a(href='#tab-inline' role='role' data-toggle='tab') Inline
        li(role='presentation')
          a(href='#tab-json' role='role' data-toggle='tab') JSON
        li.pull-right(role='presentation')
          a(href='#tab-providers' role='role' data-toggle='tab') Providers
      .tab-content
        #tab-block.tab-pane.active(role='tabpanel')!= block || ''
        #tab-inline.tab-pane(role='tabpanel')!= inline || ''
        #tab-json.tab-pane(role='tabpanel')
          pre!= json || ''
        #tab-providers.tab-pane(role='tabpanel')!= providers.join('<br>')

    script.
      $(function () {
        $('.quicklink').on('click', function (event) {
          event.preventDefault();
          $('#url-input').val($(this).attr('href'));
          $('form').submit();
        })
      });